<h1>Display your Pirate here</h1>

<% @pirates.each do |pirate|
end %>
<%= pirate.name %>
<%= pirate.height %>
<%= pirate.weight %>


<h2>Display your first ship here</h2>


<h2>Display your second ship here</h2>
